{% extends 'recommender_system/parent.html' %}

{% block page %}

<div class="container">
    <div class ="update-form">
        <h1 id = "rating">Update rating</h1>
        <form method = "POST">
            {% csrf_token %}
            <label>Book ID: </label>
            {{book.book.book_id}}
            <br>
            <label>Book Title: </label>
            {{book.book.title}}
            <br>
            {{form.as_p }}
            <input type="submit" value="Update">
        </form>
</div>
</div>

<style>

    #rating{
        margin-bottom:20px;
    }
    .container{
        display:grid;
        grid-template-columns: 1fr;
        text-align:center;
        margin-top:150px;

    }

    .update-form{
        text-align:center;
        margin:auto;
        margin-top:20px;
        background-color: #ECE3F0;
        padding:100px;
        border-radius: 25px;
    }
    
</style>

{% endblock %}